<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div layout:fragment="content">

    <div style="width: auto; height:1000px; background-color: white">
        <hr/>
        <h2>Produkt anlegen</h2>
        <div style="width: auto; height:1000px">
            <form th:action="@{'/allproducts/'}" th:object=" ${productForm}" method="post" class="form-inline"  style="display: inline-block; width: 350px; height:700px; background-color: white">
                <div style="width: auto; height:45px;">
                    <input name="name" type="text" placeholder="Produktname" th:field ="*{name}" required class="form-control mr-2" style=" width:350px; height:38px; background-color: ghostwhite">
                </div>
                <div  style="width: auto; height:45px;">
                    <input name="price" type="number" placeholder="" th:field = "*{price}" required class="form-control mr-2" style=" width:350px; height:38px; background-color: ghostwhite">
                </div>
                <div style="width: auto; height:45px;">
                    <input name="description" type="text" placeholder="Beschreibung" th:field ="*{description}" required class="form-control mr-2" style=" width:350px; height:38px; background-color: ghostwhite">
                </div>
                <div style="width: auto; height:45px;">
                    <select name="condition" class="form-control mr-2" th:field="*{condition}" style=" width:350px; height:38px; background-color: ghostwhite">
                        <option value="">--Zustand auswaehlen--</option>
                        <option value="sehr gut">Sehr gut</option>
                        <option value="okay">Okay</option>
                        <option value="unterdurchschnittlich">Unterdurchschnittlich</option>
                    </select>
                </div>

                <!-- <input name="condition" type="text" placeholder="Zustand" class="form-control mr-2"> -->
                <!--<input name="seller" type="text" placeholder="Kategorie" class="form-control mr-2"> -->

                <div style="width: auto; height:45px;">
                    <select name="category" class="form-control mr-2" th:field="*{category}" style=" width:350px; height:38px; background-color: ghostwhite">
                        <option value="">--Kategorie auswaehlen--</option>
                        <option value="autos">Auto, Rad & Boot</option>
                        <option value="elektronik">Elektronik</option>
                        <option value="garten">Haus & Garten</option>
                        <option value="mode">Mode & Beauty</option>
                        <option value="hobby">Freizeit, Hobby & Nachbarschaft</option>
                    </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Eintragen</button>
                </div>
            </form>
        </div>
    </div>


</div>
</body>
</html>