<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div layout:fragment="content">
    <div class="my-4">
        <table>
            <tr>
                <th>
                    <h1>Produktübersicht</h1>
                </th>
                <td style="padding-left: 50px;">
                    <button type="submit" class="btn btn-primary" style="display: inline-block; width: 140px;"><a href="/allproducts/createProduct" style="color: white">Item erstellen</a></button>
                </td>
                <td style="padding-left: 10px;">
                    <button type="submit" class="btn btn-primary" style="display: inline-block; width: 140px;"><a href="/user/myProducts" style="color: white">Meine Items</a></button>
                </td>
                <td style="padding-left: 10px;">
                    <button type="submit" class="btn btn-primary" style="display: inline-block; width: 140px;"><a href="/user/mySales" style="color: white">Meine Verkäufe</a></button>
                </td>
                <td style="padding-left: 10px;">
                    <button type="submit" class="btn btn-primary" style="display: inline-block; width: 140px;"><a href="/user/myBoughtProducts" style="color: white">Meine Käufe</a></button>
                </td>
                <td th:unless="${#authorization.expression('isAuthenticated()')}" style="padding-left: 10px;">
                    <button type="submit" class="btn btn-primary" style="display: inline-block; width: 140px;"><a href="/user/" style="color: white">Registrieren</a></button>
                </td>
                <td th:unless="${#authorization.expression('isAuthenticated()')}" style="padding-left: 10px;">
                    <button type="submit" class="btn btn-primary" style="display: inline-block; width: 140px;"><a href="/login" style="color: white">Login</a></button>
                </td>
            </tr>
        </table>
    </div>

    <div style="padding-bottom: 10px;">
        <form th:action="@{/allproducts}">
            <input type="text" name="keyword" id="keyword" size="50px" placeholder="Suchen" th:value="${keyword}" required/>
            &nbsp;
            <button type="submit">Suchen</button>
        </form>
    </div>

    <table class="table">
        <tr th:each="product : ${products}">
            <td>
                <a th:href="${'/allproducts/' + product.productId}"th:text="${product.name}"></a>
                <br>
                <a th:text="${product.price}"></a> <a> € </a>
                <br>
                <a> Products Available: </a><a th:text="${product.numberAvailable}"></a>
                <br>
                <a> Products Sold: </a><a th:text="${product.numberSold}"></a>
            </td>
        </tr>
    </table>

</div>
</body>
</html>