<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div layout:fragment="content">

    <table class="table">
        <tr th:each="product : ${myProducts}">
            <td>
                <a th:href="${'/allproducts/' + product.productId}"th:text="${product.name}"></a>
                <br>
                <a th:text="${product.price}"></a> <a> € </a>
                <br>
                <button><a th:href="${'/allproducts/productEdit/' + product.productId}">Bearbeiten</a></button>
            </td>
        </tr>
    </table>

</div>
</body>
</html>