<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="my-4">
        <h1> Produktdetails</h1>

        <p class="small">
            <a href="/allproducts/"> zurück zum Menü</a>
        </p>
    </div>

    <!-- Tabelle für Fach anzeigen ...-->
    <table class="table">
        <tr>
            <th>Id</th> <td th:text="${product.productId}"></td>
        </tr>
        <tr>
            <th>Name</th> <td th:text="${product.name}"></td>
        </tr>
        <tr>
            <th>Kategorie</th> <td th:text="${product.category}"></td>
        </tr>
        <tr>
            <th>Preis</th> <td th:text="${product.price}"></td>
        </tr>
        <tr>
            <th>Description</th> <td th:text="${product.description}"></td>
        </tr>
        <tr>
            <th>Condition</th> <td th:text="${product.condition}"></td>
        </tr>
        <tr>
            <th>Number Available</th> <td th:text="${product.numberAvailable}"></td>
        </tr>
        <tr>
            <th>Number Sold</th> <td th:text="${product.numberSold}"></td>
        </tr>
    </table>
    <hr/>

    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <!--<form th:action="${'/allproducts/buy/'}" th:object="${sale}" method="post">-->
        <form th:action="${'/allproducts/buy/'+product.productId}" method="post">
            <div  style="width: auto; height:45px;">
                <input name="numberBought" type="number" min="1" placeholder="1" class="form-control mr-2" style=" width:350px; height:38px; background-color: ghostwhite">
            </div>
            <!--<div>
                <input name="productId" type="number" placeholder="1" class="form-control mr-2" style=" width:350px; height:38px; background-color: ghostwhite">
            </div>-->

            <button type="submit">
                Kaufen
            </button>
        </form>
    </div>
    <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <button type="submit" class="btn btn-primary" style="display: inline-block; width: 250px;"><a href="/login" style="color: white">Bitte melden Sie sich an, <br> bevor Sie etwas kaufen.</a></button>
    </div>

</div>
</body>
</html>