<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div layout:fragment="content">
  <div>
    <hr />
    <h2>Produkt bearbeiten</h2>
    <div>
      <form th:action="${'/allproducts/createProduct'}" method="post" class="form-inline">
        <div style="" th:each="product:${products}">
          <input name="name" type="text" placeholder="Produktname" th:value="${product.name}" class="form-control mr-2" required style="display: inline-block; width: 150px; background-color: ghostwhite" >
        </div>
        <div style="float:left; clear: left" th:each="product:${products}">
          <input name="price" type="number" placeholder="0" th:value="${product.price}" class="form-control mr-2" required style="display: inline-block; width: 150px; background-color: ghostwhite">
        </div>
        <div th:each="product:${products}">
          <input name="description" type="text" placeholder="Beschreibung" th:value="${product.description}" class="form-control mr-2" required style="display: inline-block; width: 150px; background-color: ghostwhite">
        </div>
        <div th:each="product:${products}">
          <select name="condition" class="form-control mr-2" style="display: inline-block; width: 350px; background-color: ghostwhite">
            <option value="">--Zustand auswaehlen--</option>
            <option value="sehr gut" th:selected="${'sehr gut' == product.condition}">Sehr gut</option>
            <option value="okay" th:selected="${'okay' == product.condition}">Okay</option>
            <option value="unterdurchschnittlich" th:selected="${'unterdurchschnittlich' == product.condition}">Unterdurchschnittlich</option>
          </select>
        </div>

        <div th:each="product:${products}">
          <select name="seller" class="form-control mr-2" style="display: inline-block; width: 350px; background-color: ghostwhite">
            <option value="" >--Kategorie auswaehlen--</option>
            <option value="autos" th:selected="${'autos' == product.category}">Auto, Rad & Boot</option>
            <option value="elektronik" th:selected="${'elektronik' == product.category}">Elektronik</option>
            <option value="garten" th:selected="${'garten' == product.category}">Haus & Garten</option>
            <option value="mode" th:selected="${'mode' == product.category}">Mode & Beauty</option>
            <option value="hobby" th:selected="${'hobby' == product.category}">Freizeit, Hobby & Nachbarschaft</option>
          </select>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Eintragen</button>
        </div>
      </form>
    </div>
  </div>


</div>
</body>
</html>