<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="my-4">
        <h1> Produkte</h1>

        <p class="small">
            <a href="/allproducts/"> zurück zum Menü</a>
        </p>
    </div>

    <!-- Tabelle für Fach anzeigen-->
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Kategorie</th>
            <th>Preis</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.price}"></td>
        </tr>
    </table>
    <button>
        Kaufen
    </button>

    <hr/>
</div>
</body>
</html>