<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Hier wird die Verbindung zur CSS-Datei erstellt -->
    <link rel="stylesheet" href="" th:href="@{/CSS/mystyle.css}" />
    <!-- Hier wird der Javascript für die Togglemenü addiert-->
    <script type="text/javascript" >
        function togglemenu() {
            document.getElementById('sidebar').classList.toggle('active');
        }

    </script>
</head>

<body>
<!-- Die Klasse "maincontent" ist für die Gestaltung des Haupt-DIVs erstellt -->
<div layout:fragment="content" style="position: absolute" class="maincontent">
    <header>
        <div>
            <!-- FROM -->
            <!-- Dieser Java-Script wird für die Togglemenu eingebaut -->
            <div id="sidebar" onclick="togglemenu()">
                <!-- Diese Klasse ist für die drei Linien der Togglemenü erstellt -->
                <div class="toggle-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div>
                    <ul>
                        <li>
                            <!-- Die Klasse "button-header-font" ist für die Schriftart des Buttons erstellt, um ihn zu designen -->
                            <a href="/allproducts/createProduct"  class="button-header-font">
                                <!-- Die Klasse "button-header" ist für den Button erstellt, um ihn zu designen -->
                                <button type="submit" class="button-header" >
                                    Produkt einstellen </button>
                            </a>
                        </li>
                        <li>
                            <!-- Die Klasse "button-header-font" ist für die Schriftart des Buttons erstellt, um ihn zu designen -->
                            <a href="/user/mySales" class="button-header-font">
                                <!-- Die Klasse "button-header" ist für den Button erstellt, um ihn zu designen -->
                                <button type="submit" class="button-header">
                                    Meine Verkäufe
                                </button>
                            </a>
                        </li>
                        <li>
                            <!-- Die Klasse "button-header-font" ist für die Schriftart des Buttons erstellt, um ihn zu designen -->
                            <a href="/user/myBoughtProducts" class="button-header-font">
                                <!-- Die Klasse "button-header" ist für den Button erstellt, um ihn zu designen -->
                                <button type="submit" class="button-header">
                                    Meine Käufe
                                </button>
                            </a>
                        </li>
                        <li th:unless="${#authorization.expression('isAuthenticated()')}">
                            <!-- Die Klasse "button-header-font" ist für die Schriftart des Buttons erstellt, um ihn zu designen -->
                            <a href="/user" class="button-header-font">
                                <!-- Die Klasse "button-header" ist für den Button erstellt, um ihn zu designen -->
                                <button type="submit" class="button-header">
                                    Registrieren
                                </button>
                            </a>
                        </li>
                        <li th:unless="${#authorization.expression('isAuthenticated()')}">
                            <!-- Die Klasse "button-header-font" ist für die Schriftart des Buttons erstellt, um ihn zu designen -->
                            <a href="/login" class="button-header-font">
                                <!-- Die Klasse "button-header" ist für den Button erstellt, um ihn zu designen -->
                                <button type="submit" class="button-header" >
                                    Login
                                </button>
                            </a>
                        </li>
                        <li th:if="${#authorization.expression('isAuthenticated()')}">
                            <!-- Die Klasse "button-header-font" ist für die Schriftart des Buttons erstellt, um ihn zu designen -->
                            <a href="/logout" class="button-header-font">
                                <!-- Die Klasse "button-header" ist für den Button erstellt, um ihn zu designen -->
                                <button type="submit" class="button-header" >
                                    Logout
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- TILL HERE -->
        </div>
    </header>

    <!-- Diese Klasse "my-4" ist für die Div-Gestaltung(Positionierung etc) erstellt -->
    <div class="my-4">
        <!-- Die Klasse "bigfont2" ist für die Gestaltung der Überschrift erstellt -->
        <h1 class="bigfont2">Meine Produkte</h1>
    </div>
    <!-- Die Klasse "table" ist für die entsprechende Tabelle erstellt, um sie zu designen -->
    <table class="table">
        <!-- Die Klasse "product-name" ist für die entsprechende Tabelle erstellt, um sie weiter in Details zu designen -->
        <tr class="product-name">
            <th style="text-align: center">Produktname</th>
            <th style="text-align: center">Preis</th>
            <th style="text-align: center">Anzahl Verfügbar</th>
            <th style="text-align: center">Anzahl Verkauft</th>
        </tr>
        <!-- Die Klasse "product-info1" ist für die Infos des Produkts erstellt, um sie zu designen -->
        <!-- Mit Thymeleaf werden alle Informationen aus der Datenbank genommen und als Text ausgegeben. -->
        <tr class="product-info1" th:each="product : ${myProducts}">
            <td><a th:href="${'/allproducts/' + product.productId}" th:text="${product.name}"></a></td>
            <td style="text-align: center" th:text="${product.price}">€</td>
            <td style="text-align: center" th:text="${product.numberAvailable}"></td>
            <td style="text-align: center" th:text="${product.numberSold}"></td>
            <td style="padding-right: 0px">
                <a th:href="${'/allproducts/productEdit/' + product.productId}"><button>Bearbeiten</button></a>
                <a th:href="${'/user/deleteProduct/' + product.productId}"><button>Löschen</button></a>
            </td>
        </tr>
    </table>
    <div>
        <br>
        <br>
        <!-- Die Klasse "small" ist für die Gestaltung dex Textes erstellt, um ihn zu designen -->
        <p class="small" style="display: inline-block; width: 350px; height:20px;" >
            <!-- Die Klasse "back_to_home" ist für die Gestaltung des Hyperlinks erstellt, um ihn zu designen -->
            <a href="/allproducts/" class="back_to_home"> zurück zur Startseite</a>
        </p>
    </div>
</div>
</body>
</html>