<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">>

<body>
<div layout:fragment="content">

    <table class="table">
        <tr th:each="sale : ${mySales}">
            <td>
                <a th:text="${sale.soldProduct}"></a>
                <br>
                <a th:text="${sale.soldProduct.price}"></a>
                <br>
                <a th:text="${sale.numberBought}"></a>
                <br>
                <a th:text="${sale.buyer}"></a>
                <br>
                <a th:text="${sale.status}"></a>
                <br>
                <button><a>Versenden</a></button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>