body {
    /* Hier wird das Design des Bodys definiert
     */
    height: auto;
    width: auto;
    background-size: cover;
    background-color: #2d283e;
    background-image: url(../images/universe2.png);
    background-position-x: 30px;
    padding-left: 50px;
    padding-top: 20px;
    font-family: Calibri;
    font-size: 15px;

}
.my-4 {
    /* Hier wird das Design des Divs "my-4" definiert
     */
    padding-left: 100px;
    padding-top: 5px;
    float:left;
}

.button-header {
    /* Hier wird das Design des Buttons definiert
     */
    display: inline-block;
    width: 140px;
    background-color: #802bb1;
    border: 1px solid black;
    font-size: 15px;
    color: ghostwhite;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;

}
.button-header:hover {
    /* Hier wird das Design des Buttons definiert, wenn sich der Mauszeiger auf dem Button befindet
     */
    background-color: #564f6f;

}
.button-header-font{
    /* Hier wird das Design der Schriftart des Buttons definiert */
    color:white;
}
.button-header-font:hover{
    /* Hier wird das Design der Schriftart des Buttons definiert, wenn sich der Mauszeiger auf dem Button befindet */
    color:black;
}
.button-header::placeholder {
    /* Hier wird das Design des Platzhalters des Buttons definiert */
    color:black;
}

.button-header-2 {
    /* Hier wird das Design des Buttons definiert , ähnlich wie beim "button-header-2", aber die Höhe beträgt mehr px */
    display: inline-block;
    width: 140px;
    background-color: #802bb1;
    border: 1px solid black;
    font-size: 15px;
    color: ghostwhite;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;

}
.button-header-2:hover {
    /* Hier wird das Design des Buttons definiert, wenn sich der Mauszeiger auf dem Button befindet
    */
    background-color: #564f6f;

}
.button-header-2-font{
    /* Hier wird das Design der Schriftart des Buttons definiert */
    color:white;
}
.button-header-2-font:hover{
    /* Hier wird das Design der Schriftart des Buttons definiert, wenn sich der Mauszeiger auf dem Button befindet */
    color:black;
}
.button-header-2::placeholder {
    /* Hier wird das Design des Platzhalters des Buttons definiert */
    color: black;
}


.btn-search {
    /* Hier wird das Design des Buttons fürs Suchfeld definiert   */
    background-color: #802bb1;
    border: 1px solid black;
    font-size: 15px;
    color: black;
    height: 29px;
    border-radius: 5px;
    cursor: pointer;

}
.btn-search:hover{
    /* Hier wird das Design des Buttons fürs Suchfeld definiert, wenn sich der Mauszeiger auf dem Button befindet  */
    background-color: #564f6f;
    color: #d1d7e0;
    cursor: pointer;


}
.search-field {
    /* Hier wird das Design des Suchfeldes definiert   */
    border: 1px solid black;
    border-radius: 5px;
    background-color: #4c495d;

}
.search-field:hover{
    /* Hier wird das Design des Suchfeldes definiert, wenn sich der Mauszeiger auf dem Button befindet   */
    background-color: white;
    color:#802bb1;
}
.search-field:hover::placeholder{
    /* Hier wird das Design des Platzhalters des Suchfeldes definiert, wenn sich der Mauszeiger auf dem Button befindet */
    color:#2d283e;
}
.search-field::placeholder{
    /* Hier wird das Design des Platzhalters des Suchfeldes definiert */
    color: #d1d7e0;
}



.product-name {
    /* Hier wird das Design der Produkttabelle definiert */
    color:#d1d7e0;
   font-weight: bold;
}

.product-info{
    /* Hier wird das Design der entsprechenden Produktinformation definiert */
    color:#d1d7e0;
}
.product-info1 {
    /* Hier wird das Design der ersten Produktinformationen definiert, analog zur "product-info", falls man die anderen Beiträge anderes designen möchte */
    color:#802bb1;
}
.product-info1:hover {
    /* Hier wird das Design der ersten Produktinformationen definiert, wenn sich der Mauszeiger auf dem Button befindet  */
    color:#d1d7e0;
}



#sidebar {
    /* Hier wird das Design der  Togglemenu definiert */
    position: fixed;
    width: 30%;
    height: 100%;
    left:-30%;
    background-color: #d1d7e0;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s;

}
#sidebar:hover{
    /* Hier wird das Design der  Togglemenu definiert, wenn sich der Mauszeiger auf dem Button befindet */
    cursor: pointer;
}
#sidebar li{
    /* Hier wird das Design der Liste der Togglemenu definiert */
    color:#d1d7e0;
    font-size: 15px;
    padding:30px;
    border-bottom: 2px solid black;
    text-align: center;
    opacity: 0.5;
}

.toggle-btn {
    /* Hier wird das Design des Buttons der Togglemenu definiert */
    position: absolute;
    left:105%;
    top: 30px;
}

.toggle-btn span{
    /* Hier wird das Design der drei Linien für die Ausführung der Togglemenu definiert */
    display:block;
    background-color:#d1d7e0;
    width:30px;
    height:5px;
    margin:3px;
    float:right;
    transition: 0.3s;

}

#sidebar.active {
    /* Hier wird die Ergänzung füs Design der Togglemenu definiert */
    left:0;

}

.bigfont2{
    /* Hier wird das Design für die entsprechende Schriftart definiert */
    color:#802bb1;
    font-weight: bold;
    padding-left: 1px;
    margin-left: 10px;
}

.back_to_home {
    /* Hier wird das Design für den Button der "Zurück zur Menü" Funktion definiert */
    color:#d1d7e0;
    font-weight:
            bold;font-size: 20px
}
.back_to_home:hover {
    /* Hier wird das Design für den Button der "Zurück zur Menü" Funktion definiert, wenn sich der Mauszeiger auf dem Button befindet */
    color:#564f6f;
}

.error_page {
    /* Hier wird das Design des DIVs für die Fehler-Seiten definiert */
    height: auto;
    width: auto;
    background-size: cover;
    background-image: url(../images/netzwerk.jpg);
    padding-left: 250px;
    padding-top: 20px;
    font-family: Calibri;
    font-size: 25px;
    color:#802bb1;
    font-weight: bold;
    background-position-x: 1px;
}

.my-5 {
    /* Hier wird das Design des entsprechenden DIVs  definiert */
    padding-left: 75px;
    padding-top: 5px;

}

label {
    /* Hier wird das Design der entsprechenden Formulare  definiert */
    display: inline-block;
    width: 5em;

}